{%  extends 'main.html' %}
{% load static %}
{% block content %}



	<!--<form action="" method="POST">
	{% csrf_token %}
	<div class="row">
	<div class="col-md-6">
		<div class="card card-body">


				<p><strong>Item Title</strong></p>
				{{form.title}}
					<hr>
				<p><strong>Type</strong></p>
				{{form.item_type}}
					<hr>
				<p><strong>Status</strong></p>
				{{form.status}}
					<hr>	
				<p><strong>In hands of</strong></p>
				{{form.held_by}}
					<hr>
				<p><strong>Home Id</strong></p>
				{{form.home_id}}
					<hr>	
				<p><strong>Depreciation Status</strong></p>
				{{form.depreciated_status}}
					<hr>					

		</div>
	</div>
	<div class="col-md-6">
		<div class="card card-body">


				<p><strong>Registration Key</strong></p>
				{{form.registration_key}}
					<hr>	
				<p><strong>Physical Serial Number</strong></p>
				{{form.physical_serial_number}}
					<hr>
				<p><strong>Imei 1</strong></p>
				{{form.imei_1}}
					<hr>
				<p><strong>Imei 2</strong></p>
				{{form.imei_2}}
					<hr>
				<p><strong>Phone number #1</strong></p>
				{{form.phone_number_1}}
					<hr>
				<p><strong>Phone number #1</strong></p>
				{{form.phone_number_2}}
					<hr>				

				
		</div>
	</div>
	</div>
	<br>
	<br>
	<div class="text-center">
		<input class='btn btn-primary'  type="submit" name="Submit">
	</div>
	</form>-->


	<form action="" method="POST">
		{% csrf_token %}
		<div class="row">
		<div class="col-md-6">
			<div class="card card-body">

					<p><strong>Item Title</strong></p>
					{{form.title}}
						<hr>
					<p><strong>Type</strong></p>
					{{form.item_type}}
						<hr>
					<p><strong>Status</strong></p>
					{{form.status}}
						<hr>	
					<p><strong>In hands of</strong></p>
					{{form.held_by}}
						<hr>
										

			</div>
		</div>
		<div class="col-md-6">
			<div class="card card-body">
					<div class="text-center">
						<p><strong>Meter 1</strong></p>
					</div>

					<p><strong>Home Id</strong></p>
					{{form.home_id_1}}
						<hr>	
					<p><strong>Registration Key</strong></p>
					{{form.registration_key_1}}
						<hr>	
					<p><strong>Physical Serial Number</strong></p>
					{{form.physical_serial_number_1}}
						<hr>
					<p><strong>Imei 1</strong></p>
					{{form.imei_1_1}}
						<hr>
					<p><strong>Imei 2</strong></p>
					{{form.imei_2_1}}
						<hr>
					<p><strong>Phone number #1</strong></p>
					{{form.phone_number_1_1}}
						<hr>
					<p><strong>Phone number #2</strong></p>
					{{form.phone_number_2_1}}
						<hr>				

					
			</div>
		</div>
		</div>
		<br>
		<br>

		<div class="row">
		<div class="col-md-6">
			<div class="card card-body">

					<div class="text-center">
						<p><strong>Meter 2</strong></p>
					</div>


					<p><strong>Home Id</strong></p>
					{{form.home_id_2}}
						<hr>	
					<p><strong>Registration Key</strong></p>
					{{form.registration_key_2}}
						<hr>	
					<p><strong>Physical Serial Number</strong></p>
					{{form.physical_serial_number_2}}
						<hr>
					<p><strong>Imei 1</strong></p>
					{{form.imei_1_2}}
						<hr>
					<p><strong>Imei 2</strong></p>
					{{form.imei_2_2}}
						<hr>
					<p><strong>Phone number #1</strong></p>
					{{form.phone_number_1_2}}
						<hr>
					<p><strong>Phone number #2</strong></p>
					{{form.phone_number_2_2}}
						<hr>		
										

			</div>
		</div>
		<div class="col-md-6">
			<div class="card card-body">

					<div class="text-center">
						<p><strong>Meter 3</strong></p>
					</div>

					<p><strong>Home Id</strong></p>
					{{form.home_id_3}}
						<hr>	
					<p><strong>Registration Key</strong></p>
					{{form.registration_key_3}}
						<hr>	
					<p><strong>Physical Serial Number</strong></p>
					{{form.physical_serial_number_3}}
						<hr>
					<p><strong>Imei 1</strong></p>
					{{form.imei_1_3}}
						<hr>
					<p><strong>Imei 2</strong></p>
					{{form.imei_2_3}}
						<hr>
					<p><strong>Phone number #1</strong></p>
					{{form.phone_number_1_3}}
						<hr>
					<p><strong>Phone number #2</strong></p>
					{{form.phone_number_2_3}}
						<hr>				

					
			</div>
		</div>
		</div>

		<br>
		<br>

		<div class="row">
		<div class="col-md-6">
			<div class="card card-body">

					<div class="text-center">
						<p><strong>Meter 4</strong></p>
					</div>


					<p><strong>Home Id</strong></p>
					{{form.home_id_4}}
						<hr>	
					<p><strong>Registration Key</strong></p>
					{{form.registration_key_4}}
						<hr>	
					<p><strong>Physical Serial Number</strong></p>
					{{form.physical_serial_number_4}}
						<hr>
					<p><strong>Imei 1</strong></p>
					{{form.imei_1_4}}
						<hr>
					<p><strong>Imei 2</strong></p>
					{{form.imei_2_4}}
						<hr>
					<p><strong>Phone number #1</strong></p>
					{{form.phone_number_1_4}}
						<hr>
					<p><strong>Phone number #2</strong></p>
					{{form.phone_number_2_4}}
						<hr>		
										

			</div>
		</div>
		<div class="col-md-6">
			<div class="card card-body">

					<div class="text-center">
						<p><strong>Meter 5</strong></p>
					</div>

					<p><strong>Home Id</strong></p>
					{{form.home_id_5}}
						<hr>	
					<p><strong>Registration Key</strong></p>
					{{form.registration_key_5}}
						<hr>	
					<p><strong>Physical Serial Number</strong></p>
					{{form.physical_serial_number_5}}
						<hr>
					<p><strong>Imei 1</strong></p>
					{{form.imei_1_5}}
						<hr>
					<p><strong>Imei 2</strong></p>
					{{form.imei_2_5}}
						<hr>
					<p><strong>Phone number #1</strong></p>
					{{form.phone_number_1_5}}
						<hr>
					<p><strong>Phone number #2</strong></p>
					{{form.phone_number_2_5}}
						<hr>				

					
			</div>
		</div>
		</div>

		<br>
		<br>

		<div class="row">
		<div class="col-md-6">
			<div class="card card-body">


					<div class="text-center">
						<p><strong>Meter 6</strong></p>
					</div>

					<p><strong>Home Id</strong></p>
					{{form.home_id_6}}
						<hr>	
					<p><strong>Registration Key</strong></p>
					{{form.registration_key_6}}
						<hr>	
					<p><strong>Physical Serial Number</strong></p>
					{{form.physical_serial_number_6}}
						<hr>
					<p><strong>Imei 1</strong></p>
					{{form.imei_1_6}}
						<hr>
					<p><strong>Imei 2</strong></p>
					{{form.imei_2_6}}
						<hr>
					<p><strong>Phone number #1</strong></p>
					{{form.phone_number_1_6}}
						<hr>
					<p><strong>Phone number #2</strong></p>
					{{form.phone_number_2_6}}
						<hr>		
										

			</div>
		</div>
		<div class="col-md-6">
			<div class="card card-body">

					<div class="text-center">
						<p><strong>Meter 7</strong></p>
					</div>

					<p><strong>Home Id</strong></p>
					{{form.home_id_7}}
						<hr>	
					<p><strong>Registration Key</strong></p>
					{{form.registration_key_7}}
						<hr>	
					<p><strong>Physical Serial Number</strong></p>
					{{form.physical_serial_number_7}}
						<hr>
					<p><strong>Imei 1</strong></p>
					{{form.imei_1_7}}
						<hr>
					<p><strong>Imei 2</strong></p>
					{{form.imei_2_7}}
						<hr>
					<p><strong>Phone number #1</strong></p>
					{{form.phone_number_1_7}}
						<hr>
					<p><strong>Phone number #2</strong></p>
					{{form.phone_number_2_7}}
						<hr>				

					
			</div>
		</div>
		</div>

		<br>
		<br>

		<div class="row">
		<div class="col-md-6">
			<div class="card card-body">

					<div class="text-center">
						<p><strong>Meter 8</strong></p>
					</div>

					<p><strong>Home Id</strong></p>
					{{form.home_id_8}}
						<hr>	
					<p><strong>Registration Key</strong></p>
					{{form.registration_key_8}}
						<hr>	
					<p><strong>Physical Serial Number</strong></p>
					{{form.physical_serial_number_8}}
						<hr>
					<p><strong>Imei 1</strong></p>
					{{form.imei_1_8}}
						<hr>
					<p><strong>Imei 2</strong></p>
					{{form.imei_2_8}}
						<hr>
					<p><strong>Phone number #1</strong></p>
					{{form.phone_number_1_8}}
						<hr>
					<p><strong>Phone number #2</strong></p>
					{{form.phone_number_2_8}}
						<hr>		
										

			</div>
		</div>
		<div class="col-md-6">
			<div class="card card-body">
					<div class="text-center">
						<p><strong>Meter 9</strong></p>
					</div>


					<p><strong>Home Id</strong></p>
					{{form.home_id_9}}
						<hr>	
					<p><strong>Registration Key</strong></p>
					{{form.registration_key_9}}
						<hr>	
					<p><strong>Physical Serial Number</strong></p>
					{{form.physical_serial_number_9}}
						<hr>
					<p><strong>Imei 1</strong></p>
					{{form.imei_1_9}}
						<hr>
					<p><strong>Imei 2</strong></p>
					{{form.imei_2_9}}
						<hr>
					<p><strong>Phone number #1</strong></p>
					{{form.phone_number_1_9}}
						<hr>
					<p><strong>Phone number #2</strong></p>
					{{form.phone_number_2_9}}
						<hr>				

					
			</div>
		</div>
		</div>

		<br>
		<br>
		<div class="row">
		<div class="col-md-12">
			<div class="card card-body">
					<div class="text-center">
						<p><strong>Meter 10</strong></p>
					</div>

					<p><strong>Home Id</strong></p>
					{{form.home_id_10}}
						<hr>	
					<p><strong>Registration Key</strong></p>
					{{form.registration_key_10}}
						<hr>	
					<p><strong>Physical Serial Number</strong></p>
					{{form.physical_serial_number_10}}
						<hr>
					<p><strong>Imei 1</strong></p>
					{{form.imei_1_10}}
						<hr>
					<p><strong>Imei 2</strong></p>
					{{form.imei_2_10}}
						<hr>
					<p><strong>Phone number #1</strong></p>
					{{form.phone_number_1_10}}
						<hr>
					<p><strong>Phone number #2</strong></p>
					{{form.phone_number_2_10}}
						<hr>		
										

			</div>
		</div>
		</div>

		<br>
		<br>
		<div class="text-center">
			<input class='btn btn-primary'  type="submit" name="Submit">
		</div>
		</form>


{% endblock %}