{%  extends 'main.html' %}
{% block content %}
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">
				{{InventoryFilter.form}}
		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>
		</div>-
	</div>
	
</div>
<br>
<div class="row">
<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Inventory #</th>
					<th>Item Name</th>
					<th>Status</th>
					<th>Holder</th>
					<th>Type</th>
					<th>Registration Key</th>
					<th>Physical S/N</th>
					<th>Home Id</th>
				</tr>

				{% for item in inv_items %}
					<tr>
						<td>{{item.id}}</td>
						<td>{{item.title}}</td>
						<td>{{item.status}}</td>
						<td>{{item.held_by}}</td>
						<td>{{item.item_type}}</td>
						<td>{{item.registration_key}}</td>
						<td>{{item.physical_serial_number}}</td>
						<td>{{item.home_id}}</td>
					</tr>
				{% endfor %}

			
			</table>
	</div>
</div>

	<br>
	<br>
	<div class="row" style="display: flex; justify-content: center;">
		<nav aria-label="Page navigation example">
	    {% if inv_items.has_other_pages %}
		  <ul class="pagination">
		    {% if inv_items.has_previous %}
		      <li class="active page-item"><a class="page-link" href="?page={{ inv_items.previous_page_number }}">&laquo;</a></li>
		    {% else %}
		      <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
		    {% endif %}
		    {% for i in inv_items.paginator.page_range %}
		      {% if inv_items.number == i %}
		        <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
		      {% else %}
		        <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
		      {% endif %}
		    {% endfor %}
		    {% if inv_items.has_next %}
		      <li class="active page-item"><a class="page-link" href="?page={{ inv_items.next_page_number }}">&raquo;</a></li>
		    {% else %}
		      <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
		    {% endif %}
		  </ul>
		{% endif %}
	    </nav>
    </div>
{% endblock content %}